@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$font-family: 'Lato',
sans-serif;

$background-color: rgb(15, 15, 15);
$background-color-secondary: rgb(26, 27, 30);

$text-color: rgb(212, 212, 212);
$text-color-secondary: rgb(96, 97, 100);
$link-color: rgb(45, 101, 213);

$border: 2px solid rgb(33, 34, 38);
$outline: 2px solid rgb(102, 102, 105);
$box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
$box-shadow-hybrid: 0 4px 16px rgba(39, 190, 49, 0.2);
$box-shadow-indica: 0 4px 16px rgba(252, 175, 36, 0.2);
$box-shadow-sativa: 0 4px 16px rgba(252, 70, 69, 0.2);

$transition: 200ms ease-in-out;